body {
	font-family: "Crimson Pro",Gentium, serif;
	margin:auto;
	max-width:20rem;
	padding: 2em 0.5em 10em 0.5em;
	overflow-y: scroll;
}

h1, h2 {
	font-family: "Fucxed Caps Latin","Fucxed Caps", Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
}

code, pre {
	font-family: "computer modern typewriter",courier;
}

h3 {
	margin:0;
	font-style: italic;
}

a:link, a:visited {
	color: inherit;
}

article {
	margin: 2em 0em 2em 0em;
}

h1 a, h2 a {
	text-decoration: none;
}

h2 a:visited {
	color: rgb(80,80,80);
}


h2 {
	margin: 0;
}

progress, select{
	width: 100%;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}

select, img, video, audio {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

label {
	display: block;
	font-style: italic;
	font-size: small;
}

details {
	font-style: italic;
	border: 0.05em solid black;
	padding: 0.5em;
}

.action {
	margin-bottom: 1em;
}

header {
	border-left: 0.05em solid black;
	padding-left: 0.5em;
}

legend {
	font-weight: bold;
	text-align: center;
}

fieldset {
	border: 0.05em solid black;
}

h2 {
	display: inline-block;
}

.location {
	font-weight: bold;
	font-size: smaller;
}

.category {
	font-size: smaller;
}

.admin a {
	font-size: smaller;
	text-decoration: none;
	opacity: 0.5;
}

.ready {
	font-weight: bold;
}

.not_ready {
}

textarea {
	border: 0.05em solid black;
	width: 100%;
	min-height: 20em;
	resize: vertical;
}
