body {
	font-family: helvetica, sans;
	margin:auto;
	max-width:30rem;
	padding:0 0.5em 1em 0.5em;
	overflow-y: scroll;
}

a:link, a:visited {
	color: inherit;
}

article {
	margin: 2em 0em 2em 0em;
}

h1 a, h2 a {
	text-decoration: none;
}

h2 a:visited {
	color: gray;
}

h1 {
	text-align: center;
}

h2 {
	margin: 0;
}

progress, select{
	width: 100%;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}

select, img, video, audio {
	max-width: 100%;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.action {
	margin-bottom: 1em;
}

header {
	border-left: 0.1em solid black;
	padding-left: 0.5em;
}

legend {
	font-weight: bold;
}

fieldset {
	border: 0.1em solid black;
}

h2 {
	display: inline-block;
}

.location {
	font-weight: bold;
	font-size: small;
}

.category {
	font-size: smaller;
}

.ready {
	font-weight: bold;
}

.not_ready {
}
